/*GENERAL*/
$primaryFontFamily: '';
$secondaryFontFamily: '';
$borderRadius: 8px;
$primaryTransition: all .2s linear;

/*COLORS*/
$primaryColor: #333;
$secondaryColor: #666;
$errorColor: darkred;
$successColor: darkgreen;

/* SPACINGS */
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
